@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    @apply flex justify-center items-center min-h-screen bg-gray-100;
}

body > main {
    @apply w-3/4 max-w-5xl p-6 bg-white shadow-lg rounded-lg;
}

body > main > header {
    @apply text-lg;
}

main > form > nav {
    @apply py-2;
}

main > form > nav > button {
    @apply px-4 py-2 rounded-lg bg-blue-500 text-white;

}

progress {
    @apply w-full h-1 my-2 rounded;
}

progress::-webkit-progress-bar {
    @apply rounded bg-gray-300;
}

progress::-webkit-progress-value {
    @apply rounded bg-indigo-500;
}

button.next::after {
    content: '→';
    margin-left: 0.2rem;
}

button.back::before {
    content: '←';
    margin-right: 0.2rem;
}

.ql-editor {
    height: 10rem !important;
}

.card {
    @apply p-4 rounded-lg;
}
